@import "admin-lte/dist/css/adminlte.css";
@import "admin-lte/plugins/fontawesome-free/css/all.css";
@import "sweetalert2/dist/sweetalert2.css";
@import "~ol/ol.css";

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
.ellipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.pagination .page-link {
    color: #17a2b8;
}

.pagination .page-item.active .page-link {
    background-color: #17a2b8;
    border-color: #17a2b8;
}
